@import url('https://fonts.googleapis.com/css?family=Barlow');
@charset "utf-8";
/* CSS Document */

* {
  /*border-radius: 10px;*/
}

header {
    background-color:#245a93;
    background: linear-gradient(#245a93, #3b93ad);
    color:white;
    text-align:center;
    padding:5px;
    font-family: 'Barlow', sans-serif;
}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    background: linear-gradient(#c8c8c8, #626262);
    min-height: 40vh;
    height: inherit;
    width: 12%;
    float: left;
    text-align: center;
    padding: 5px;
    font-family: 'Barlow', sans-serif;
}

.navlinks {
  color: #000000;
  font-size: 100%;
}

a:not(.homelink):hover {
  font-size: 110%;

  animation-name: grow, hues;
  animation-duration: 0.1s, 2s;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;

  -webkit-animation-name: grow, hues;
  -webkit-animation-duration: 0.1s, 2s;
  -webkit-animation-timing-function: linear, linear;
  -webkit-animation-iteration-count: 1, infinite;
}

@-webkit-keyframes grow {
  0%   {font-size: 100%;}
  100%  {font-size: 110%;}
}

@keyframes grow {
  0%   {font-size: 100%;}
  100%  {font-size: 110%;}
}

.homelink {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 150%;

  animation-name: hues;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit--webkit-animation-name: hues;
  -webkit-animation-duration: 4s;
  -webkit--webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hues {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: #00ffe8;}
  75%  {color: #f5c807;}
  100%  {color: red;}
}

@keyframes hues {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: #00ffe8;}
  75%  {color: #f5c807;}
  100%  {color: red;}
}

.review {
  vertical-align : middle;
}

.centeredImage { /*Image centered horizontally */
  vertical-align : middle;
}

.button {
  vertical-align : middle;
  margin: 0px 20px;
}

.award{
  display: block;
  margin: auto;
}

.content-wrapper{
  display: flex;
}

section {
    width: 80%; /* Not 85% to account for padding */
    padding:10px;
    font-family: 'Barlow', sans-serif;
    float: left;
}

footer {
    background-color: #02215e;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    font-family: 'Barlow', sans-serif;
}
